@media screen and (max-width:1500px) {
    .banner2{
        display: none;
    }
}
@media screen and (max-width:1130px) {
    .banner-block{
        display: none;
    }
}
@media screen and (max-width:770px) {
    .banner1{
        width: 100px;
    }
}
@media screen and (max-width:1390px) {
    .kategory1 img{
        display: none;
    }
}
@media screen and (max-width:750px) {
    .kategory1 h1{
       font-size: 14px;
    }
}
@media screen and (max-width:600px) {
   .botom-katagory{
    display: none;
   }
}







